
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@_localization.Getkey("Welcome")</h1>
    <h1 class="display-4"></h1> <strong>Hastane Randevu Online</strong>
   <br/>
   <p><img src="/img/BaşakşehirCityHospital_(1).jpg"</p>


</div>
